
// Definições

$black: #2c2c2c;
$white: #fff;
$dark: #434040;
$yellow: #fed417;
$blue-dark: #003764;
$blue-light: #00aeef;
$gray-light: #efefef;
$grid: 1542px;


@import "font";

$grid: 100%;

@media screen and (min-width: 720px) {
	$grid: 960px;
}
@media screen and (min-width: 480px) {
	$grid: 768px;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 16px;
	color: $dark;
	background-color: $white;
	max-width: 100%;
	overflow-x: hidden;
}

ul li {
	list-style: none;
}

h1, h2, h3, h4 {
	font-family: 'Melbourne', sans-serif;
	font-weight: lighter;	
}


.icon {
	display: inline-block;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

.container {
	max-width: 1158px;
	position: relative;
    margin: 0 15px;
}

.input {
	border: none;
	padding: 10px;
	height: 20px;
	border-radius: 1px;
	font-family: 'Melbourne', sans-serif;
	font-size: 14px;
	width: 100%;
	&:hover, &:focus, &:active {
		border: none;
		outline: 0;
	}
}

.btn {
	border: none;
	padding: 10px;
	height: 40px;
	border-radius: 1px;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Melbourne', sans-serif;
	font-weight: bold;
	vertical: align-middle;
	text-align: center;
	cursor: pointer;
	width: 100%;
	&:hover, &:active {
		border: none;
		outline: 0;
	}
}

.btn-yellow {
	color: $blue-dark;
	background-color: $yellow;
}

.btn-blue {
	color: $white;
	background-color: $blue-light;
	font-size: 16px;
}

// Topo
header.topo {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	height: 70px;
	background-color: $white;
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
	transition: all .2s ease-out;
	z-index: 3;

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;
	}

	img.logo {
		height: 36px;
	}

	ul.menu {
		li {
			display: inline-block;
			background-color: $blue-dark;
			border-radius: 50%;
			padding: 5px;
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}

			.icon {
				color: $white;
				width: 22px;
				height: 16px;
			}

		}
	}

	.social {
		display: none;
	}

	.col-logo {
		margin: 0 auto;
	}

}

header.topo-mobile {
	@extend header.topo;
	display:block;
	height: 50px;
	top: 70px;
	background-color: $gray-light;

	nav {
		justify-content: center;
	}
}

header.sticky {
	height: 60px;

	img.logo {
		height: 26px;
	}

	ul.menu {
		li {
			.icon {
				width: 18px;
				height: 14px;
			}
		}
	}
}

// Conteúdo
section.content {
	padding-top: 120px;

	.hero {
		.banner {
			position: relative;
			background-image: url('../../img/hero-small.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 100vh;
			overflow: hidden;
			padding-top: 120px;
		}
	}

	.content-hero {
		position: relative;
		max-width: 100%;
		background-color: rgba(1,55,101,.49);
		padding: 25px 20px;
		color: $white;

		position: absolute;
		top: 50vh;

		.input {
			margin-bottom: 15px;
		}

		p {
			font-family: 'Lato', sans-serif;
			font-size: 14px;
			font-weight: 500;
			padding: 15px 0;
		}

		.form-hero {
			position: relative;
			margin: 0 auto;
			overflow: hidden;

			small {
				font-size: 13px;
				font-style: italic;
				display: block;
				text-align: right;
				margin: 10px 0;
			}
		}
	}

	.item {
		position: relative;
		padding: 50px 0;
		h1 {
			font-size: 30px;
			font-weight: bold;
			display: block;
		}
	}

	.item.hero {
		padding: 0;
	}

	.video, .textos, .diferenciais, 
	.educacao, .galeria, .localizacao {
		h1 {
			text-transform: uppercase;
			padding-bottom: 40px;
		}
	}

	.video {
		padding: 20px 0;
		background-color: $blue-light;

		iframe {
			width: 100%;
			height: 250px;
			display: block;
			margin: 0 auto;
		}
	}

	.textos {
		background-color: $white;
		color: $dark;

		ul.list-text {
			display: block;

			li {
				border-bottom: 1px solid #00aeef;
	    		padding: 10px 0;

				&:last-child {
				    border-bottom: 0;
			     	padding-bottom: 0;
			  	}

				h2.yellow {
					text-transform: uppercase;
					color: $yellow;
					font-size: 18px;
				}

				h2.blue {
					color: $blue-light;
					font-size: 36px;
				}

				b, p {
					font-size: 14px;
				}
				b {
					margin-top: 5px;
				}
				p {
					line-height: 18px;
				}

				article {
					div.article {
					    display: none;
					}

					div.title {
					    display: flex;
					    align-items: center;
					    justify-content: space-between;
				   }
				}
			}
		}

		p {
			padding-top: 20px;
		}
	}

	.block-yellow {
		display: block;
		background-color: $yellow;
		color: $blue-dark;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		font-size: 15px;
		padding: 10px 5px;
		margin: 10px 0 20px;
		border-radius: 1px;
	}

	ul.list-item {
		display: block;

		li {
			width: 100%;
		}

		img {
			width: 100%;
      		height: 150px;
		}
	}

	.diferenciais {
		background-color: $blue-dark;
		color: $yellow;
	}

	.educacao {
		background-color: $white;
		color: $yellow;

		ul > li {
			margin-right: 20px;
		}
	}

	.galeria {
		background-color: $blue-light;
		color: $yellow;

		.carousel {
			padding: 30px 0;
		}
	}

	.localizacao {
		background-color: $blue-dark;
		color: $white;

		p {
			display: block;
			font-size: 18px;
			line-height:26px;
			padding: 15px 0;
		}

		.btn-blue {
			margin-top: 20px;
		}

		.input {
			width: 93%;
		}
	}

	.trajeto, #mapa {
		position: relative;
		height: 300px;
		overflow: hidden;
		z-index: 1;
	}

	#info {
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		width: 30%;
		height: 300px;
		background-color: $white;
		padding: 20px 10px;
		overflow-y: scroll;
		box-shadow: 2px 2px 2px rgba(0,0,0,.5);
		z-index: 2;
	}

}

// Rodapé
footer {
	width: 100%;
  	position: absolute;
	background-color: $black;

	div.container {
		display: flex;
	    align-items: center;
	    justify-content: space-between;
	    flex-direction: column;
	}

	div.col {
		padding: 20px 0;
	}

	p {
		color: $white;
		font-size: 12px;
	}

	svg.icon {
		width: 68px;
		height: 16px;
		margin-left: 5px;
	}
}


@media screen and (max-width: 767px) {
  .localizacao h1 {
    padding-bottom: 0 !important; }

      ul.list-text > li > article > div.article {
    display: none;
  }

  ul.list-text li {
    border-bottom: 1px solid #00aeef;
    padding: 10px 0;
  }

  ul.list-text li:last-child {
    border-bottom: 0;
     padding-bottom: 0;
  }
   ul.list-text li > article > div.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
}


@media screen and (min-width: 768px) {
	.container {
		margin: 0 auto;
	}
	header.topo {
		.col-logo {
			margin: 0;
		}
		.social {
			display: inline-block;
		}
	}
	header.topo-mobile {
		display: none;
	}
	section.content {
		padding-top: 70px;

		.hero {
			.banner {
				background-image: url('../../img/hero.jpg');
				height: 80vh;
				padding-top: 0;
			}
		}

		.content-hero {
			position: absolute;
			top: 5%;
			right: 15%;
			max-width: 20%;
		}
	}
	
	.video {
		iframe {
			width: 480px;
			height: 480px !important;
		}
	}


	ul.list-item {
		li {
			display: inline-block;
			width: auto !important;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.educacao {

		ul > li {
			max-width: calc(100%/3);
			margin-right: 20px;

			img {
				width: 361px;
				height: 232px;
			}
		}

		.block-yellow {
			width: 100%;
		}
	}

	.diferenciais {
		ul > li {
			max-width: calc(100%/4);
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}

			img {
				width: auto !important;
				height: 232px;
			}
		}
	}

	.btn-blue {
		margin-left: 10px;
		width: 200px;
	}

	.localizacao {
		.input {
			width: 75% !important;
		}
		.btn-blue {
			margin-top: 0;
		}
	}

	 footer {
	 	div.container {
		   flex-direction: row;
		 }
	 }

	 .textos {
		.btn-accordion {
			display: none;
		}
	 }

	
}


